<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python AutoMail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tiny.cloud/1/{{ tiny_api }}/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container bg-white shadow-md rounded-lg p-8">
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Python AutoMail App Logo" class="mx-auto mb-4" style="max-width: 150px;">
        </div>
        <div class="header mb-8">
            <h1 class="text-4xl font-bold">Python AutoMail</h1>
        </div>
        <form method="post" id="form" enctype="multipart/form-data" class="form" name="form" onsubmit="submit_form(); return false;">
            <div>
                <label for="attendance_criteria" class="form-label">Attendance Filtering Criteria:</label>
                <select id="attendance_criteria" name="attendance_criteria" class="form-input">
                    <option selected value="All">All</option>
                    <option value="Attended">Attended</option>
                    <option value="Absent">Absent</option>
                    <option value="Excused">Excused</option>
                </select>
            </div>

            <div>
                <label for="progress_criteria" class="form-label">Prorgess Filtering Criteria:</label>
                <select id="progress_criteria" name="progress_criteria" class="form-input">
                    <option selected value="All">All</option>
                    <option value="On Track">On Track</option>
                    <option value="Behind">Behind</option>
                    <option value="Critically Behind">Critically Behind</option>
                    <option value="Ahead">Ahead</option>
                </select>
            </div>
        
            <div>
                <label for="subject" class="form-label required">Subject:</label>
                <input type="text" id="subject" name="subject" class="form-input" placeholder="Mail Subject" value="{% if session.subject != None %}{{session.subject}}{% endif %}" required>
            </div>
        
            <label for="context_variables" class="form-label required">Context Variables:</label>
            <div id="context-variables">
                {% for ctx in context_variables %}
                    {% set random_index = range(1, 999999999)|random %}
                    <div class="context-variable mb-2 context-row" data-index="{{ random_index }}">
                        <input type="text" name="context_name_{{ random_index }}" class="form-input context-name mr-2 mb-0" value="{{ ctx.key }}" placeholder="Context Name" required>
                        <select name="context_type_{{ random_index }}" class="form-input context-type mr-2 mb-0" required>
                            <option value="string" {% if ctx.type == 'string' %}selected{% endif %}>String</option>
                            <option value="datetime" {% if ctx.type == 'datetime-local' %}selected{% endif %}>DateTime</option>
                            <option value="url" {% if ctx.type == 'url' %}selected{% endif %}>URL</option>
                            <option value="email" {% if ctx.type|string() == 'email' %}selected{% endif %}>Email</option>
                            <option value="number" {% if ctx.type == 'number' %}selected{% endif %}>Numeric</option>
                        </select>
                        <input type="{{ctx.type}}" name="context_value_{{ random_index }}" class="form-input context-value mr-2 mb-0" value="{{ ctx.value }}" {% if ctx.type == 'number' %}step='any'{% endif %} placeholder="Value" required>
                        <button type="button" class="remove-context-variable ml-2 text-red-500 delete-btn"><i class="fas fa-trash-alt"></i></button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-context-variable" class="form-submit mb-4"><i class="fas fa-plus"></i> Add Context Variable</button>
        
            <div>
                <label for="body" class="form-label required">Body:</label>
                <textarea id="body" name="body" class="form-textarea" placeholder="Write you email body or load a template below." required>{% if session.body != None %}{{session.body}}{% endif %}</textarea>
                <div class="form-actions mt-2 grid grid-cols-3 gap-4">
                    <label for="load-template" class="form-file col-span-2">Click to Load HTML Template</label>
                    <input type="file" id="load-template" class="form-file col-span-2 form-submit w-full hidden">
                    <button type="button" id="save-template" class="form-submit w-full" style="height: 73%;">Save Template</button>
                </div>
                <input id="body_link" name="body_link" type="text" style="display: none;">
            </div>
        
            <div>
                <label for="mail_list" class="form-label required">Mail List:</label>
                <input type="file" id="mail_list" name="mail_list" class="form-file" required>
            </div>
        
            <div>
                <label for="attachments" class="form-label">Attachment File(s):</label>
                <input type="file" id="attachments" name="attachments" class="form-file" multiple>
            </div>
        
            <div>
                <button id="submit" type="submit" class="form-submit w-full">Send Email(s)</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>&copy; 2024 Abdelrahman A. Eid. All rights reserved.</p>
        <p>
            <a href="https://github.com/AbdElrahman-A-Eid/python-automail" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-github"></i> GitHub</a> |
            <a href="https://www.linkedin.com/in/abdelrahman-eid/" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='js/tinymce-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/context-variable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>