<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python AutoMail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tiny.cloud/1/{{ tiny_api }}/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container bg-white shadow-md rounded-lg p-8">
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Python AutoMail App Logo" class="mx-auto mb-4" style="max-width: 150px;">
        </div>
        <div class="header mb-8">
            <h1 class="text-4xl font-bold">Python AutoMail</h1>
        </div>
        <form method="post" id="form" enctype="multipart/form-data" class="form" name="form" onsubmit="submit_form(); return false;">
            <div class="form-group">
                <label for="attendance_criteria" class="form-label">Attendance Filtering Criteria
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">Filter the recipients based on their session attendance. This is only enabled if there is an "attendance" column in the mail list file.</span>
                    </span>
                </label>
                <select id="attendance_criteria" name="attendance_criteria" class="form-input">
                    <option selected value="All">All</option>
                    <option value="Attended">Attended</option>
                    <option value="Absent">Absent</option>
                    <option value="Excused">Excused</option>
                </select>
            </div>

            <div class="form-group">
                <label for="progress_criteria" class="form-label">Progress Filtering Criteria
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">Filter the recipients based on their progress. This is only enabled if there is a "progress" column in the mail list file.</span>
                    </span>
                </label>
                <select id="progress_criteria" name="progress_criteria" class="form-input">
                    <option selected value="All">All</option>
                    <option value="On Track">On Track</option>
                    <option value="Behind">Behind</option>
                    <option value="Critically Behind">Critically Behind</option>
                    <option value="Ahead">Ahead</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="context_variables" class="form-label required"><span>Context Variables</span>
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">Define context variables to be used in the email. These variables can be inserted into the email subject and/or body using Jinja2 format (e.g., {{ '{{ variable_name }}' }}).</span>
                    </span>
                </label>
                <div id="context-variables">
                    {% for ctx in context_variables %}
                    {% set random_index = range(1, 999999999)|random %}
                    <div class="context-variable mb-2 context-row" data-index="{{ random_index }}">
                            <input type="text" name="context_name_{{ random_index }}" class="form-input context-name mr-2 mb-0" value="{{ ctx.key }}" placeholder="Context Name" required>
                            <select name="context_type_{{ random_index }}" class="form-input context-type mr-2 mb-0" required>
                                <option value="string" {% if ctx.type == 'string' %}selected{% endif %}>String</option>
                                <option value="datetime" {% if ctx.type == 'datetime-local' %}selected{% endif %}>DateTime</option>
                                <option value="url" {% if ctx.type == 'url' %}selected{% endif %}>URL</option>
                                <option value="email" {% if ctx.type|string() == 'email' %}selected{% endif %}>Email</option>
                                <option value="number" {% if ctx.type == 'number' %}selected{% endif %}>Numeric</option>
                            </select>
                            <input type="{{ctx.type}}" name="context_value_{{ random_index }}" class="form-input context-value mr-2 mb-0" value="{{ ctx.value }}" {% if ctx.type == 'number' %}step='any'{% endif %} placeholder="Value" required>
                            <button type="button" class="remove-context-variable ml-2 text-red-500 delete-btn"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-context-variable" class="form-submit mb-4"><i class="fas fa-plus"></i> Add Context Variable</button>
            </div>
        
            <div class="form-group">
                <label for="subject" class="form-label required"><span>Subject</span>
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">The subject of the mail. Can include Jinja2 template variables (e.g., {{ '{{ variable_name }}' }}) but "variable_name" must either be defined as a context variable or exist as a column in the mail list file.</span>
                    </span>
                </label>
                <input type="text" id="subject" name="subject" class="form-input" placeholder="Mail Subject" value="{% if session.subject != None %}{{session.subject}}{% endif %}" required>
            </div>
        
            <div class="form-group">
                <label for="body" class="form-label required"><span>Body</span>
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">The body of the mail. Can include Jinja2 template variables (e.g., {{ '{{ variable_name }}' }}) but "variable_name" must either be defined as a context variable or exist as a column in the mail list file. Can be saved to/ loaded from an HTML template file.</span>
                    </span>
                </label>
                <textarea id="body" name="body" class="form-textarea" placeholder="Write your email body or load a template below." required>{% if session.body != None %}{{session.body}}{% endif %}</textarea>
                <div class="form-actions mt-2 grid grid-cols-3 gap-4">
                    <label for="load-template" class="form-file col-span-2">Click to Load HTML Template</label>
                    <input type="file" id="load-template" class="form-file col-span-2 form-submit w-full hidden">
                    <button type="button" id="save-template" class="form-submit w-full" style="height: 73%;">Save Template</button>
                </div>
                <input id="body_link" name="body_link" type="text" style="display: none;">
            </div>
        
            <div class="form-group">
                <label for="mail_list" class="form-label required"><span>Mail List</span>
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">This CSV file should at least contain "firstName", "lastName", and "email" columns for the app to work.</span>
                    </span>
                </label>
                <input type="file" id="mail_list" name="mail_list" class="form-file" required>
            </div>
        
            <div class="form-group">
                <label for="attachments" class="form-label"><span>Attachment File(s)</span>
                    <span class="tooltip-container">
                        <i class="fas fa-question-circle"></i>
                        <span class="tooltip-text">Files to be attached to the email.</span>
                    </span>
                </label>
                <input type="file" id="attachments" name="attachments" class="form-file" multiple>
            </div>
        
            <div class="form-group">
                <button id="submit" type="submit" class="form-submit w-full">Send Email(s)</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>&copy; 2024 Abdelrahman A. Eid. All rights reserved.</p>
        <p>
            <a href="https://github.com/AbdElrahman-A-Eid/python-automail" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-github"></i> GitHub</a> |
            <a href="https://www.linkedin.com/in/abdelrahman-eid/" target="_blank" class="text-blue-500 hover:underline"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </p>
    </div>
    <div id="sidebar" class="fixed top-0 right-0 w-0 h-full bg-white shadow-lg overflow-hidden transition-all duration-300">
        <div class="p-8 relative">
            <h2 class="text-2xl font-bold mb-4">Generate Email Template</h2>
            <button id="close-sidebar" class="absolute top-4 right-4 text-gray-700 text-lg">
                &times;
            </button>
            <form id="template-form">
                <div class="mb-0/5">
                    <label for="model_selection" class="block form-label text-sm font-medium text-gray-700 required"><span>Model Selection</span>
                        <span class="tooltip-container top-tooltip">
                            <i class="fas fa-question-circle"></i>
                            <span class="tooltip-text">Select the language model (from AnyScale) that you want to use for generating the email template. Choose 'Other' to specify a custom model.</span>
                        </span>
                    </label>
                    <select id="model_selection" name="model_selection" class="block form-input " required>
                        <option value="meta-llama/Meta-Llama-3-70B-Instruct">Meta-Llama 3-70B Instruct</option>
                        <option value="meta-llama/Meta-Llama-3-8B-Instruct">Meta Llama 3-8B Instruct</option>
                        <option value="mistralai/Mistral-7B-Instruct-v0.1">Mistral 7B Instruct v0.1</option>
                        <option value="mistralai/Mixtral-8x7B-Instruct-v0.1">Mistral 8x7B Instruct v0.1</option>
                        <option value="mistralai/Mixtral-8x22B-Instruct-v0.1">Mistral 8x22B Instruct v0.1</option>
                        <option value="custom">Other</option>
                    </select>
                    <input type="text" id="custom_model_name" name="custom_model_name" class="block form-input hidden" placeholder="Enter model name">
                </div>
                <div class="mb-0/5">
                    <label for="user_prompt" class="block form-label text-sm font-medium text-gray-700 required"><span>Prompt</span>
                        <span class="tooltip-container">
                            <i class="fas fa-question-circle"></i>
                            <span class="tooltip-text">Enter the text prompt for generating the email template. Be clear and specific about the content you need.</span>
                        </span>
                    </label>
                    <textarea id="user_prompt" name="user_prompt" rows="3" class="block form-input" required></textarea>
                </div>
                <div class="mb-0/5">
                    <label for="sb_context_variables" class="block form-label text-sm font-medium text-gray-700"><span>Context Variables</span>
                        <span class="tooltip-container">
                            <i class="fas fa-question-circle"></i>
                            <span class="tooltip-text">Add context variables to customize the email content. Enter each variable and separate with a comma. These will be dynamically included in the generated template as needed.<br><strong>Note:</strong> Context Variables defined in the main form are imported automatically.</span>
                        </span>
                    </label>
                    <div id="sb-context-variables-container" class="sb-context-input-container">
                        <input type="text" id="sb_context_variables_input" class="sb-context-input" placeholder="Add context variables">
                    </div>
                </div>                
                <div class="mb-0/5">
                    <label for="model_parameters" class="block form-label text-sm font-medium text-gray-700">Model Parameters</label>
                    <div id="model_parameters" class="grid grid-cols-2 gap-4 mt-2">
                        <div>
                            <label for="temperature" class="block form-label text-xs font-medium text-gray-700"><span>Temperature</span>
                                <span class="tooltip-container">
                                    <i class="fas fa-question-circle"></i>
                                    <span class="tooltip-text">Adjust the creativity of the generated content. Higher values (up to 2) result in more creative and random outputs, while lower values (down to 0) make the output more focused and deterministic. Default is 1.</span>
                                </span>
                            </label>
                            <input type="number" id="temperature" name="temperature" value="1" step="0.01" min="0" max="2" class="block form-input mb-0">
                        </div>
                        <div>
                            <label for="max_output_length" class="block form-label text-xs font-medium text-gray-700"><span>Max Output Length</span>
                                <span class="tooltip-container">
                                    <i class="fas fa-question-circle"></i>
                                    <span class="tooltip-text">Specify the maximum number of tokens (words and punctuation) for the generated output. Higher values allow for longer outputs. Default is 4096.</span>
                                </span>
                            </label>
                            <input type="number" id="max_output_length" name="max_output_length" value="4096" step="1" min="1" class="block form-input mb-0">
                        </div>
                        <div>
                            <label for="top_p" class="block form-label text-xs font-medium text-gray-700"><span>Top P</span>
                                <span class="tooltip-container">
                                    <i class="fas fa-question-circle"></i>
                                    <span class="tooltip-text">Control the diversity of the generated text. Higher values (up to 1) include more diverse word choices. Default is 1.</span>
                                </span>
                            </label>
                            <input type="number" id="top_p" name="top_p" value="1" step="0.01" min="0" max="1" class="block form-input">
                        </div>
                        <div>
                            <label for="frequency_penalty" class="block form-label text-xs font-medium text-gray-700"><span>Frequency Penalty</span>
                                <span class="tooltip-container">
                                    <i class="fas fa-question-circle"></i>
                                    <span class="tooltip-text">Adjust the penalty for repeated words. Higher values (up to 1) discourage repetition, making the output more varied. Default is 0.</span>
                                </span>
                            </label>
                            <input type="number" id="frequency_penalty" name="frequency_penalty" value="0" step="0.01" min="0" max="1" class="block form-input">
                        </div>
                    </div>
                </div>
                <div class="mb-0/5">
                    <label for="system_prompt" class="block form-label text-sm font-medium text-gray-700"><span>System Prompt</span>
                        <span class="tooltip-container">
                            <i class="fas fa-question-circle"></i>
                            <span class="tooltip-text">Provide a system prompt to guide the language model. Leave blank to use the default system prompt.</span>
                        </span>
                    </label>
                    <textarea id="system_prompt" name="system_prompt" rows="3" class="block form-input" placeholder="Leave blank for the default prompt"></textarea>
                </div>
                <div class="flex">
                    <button type="submit" class="px-4 py-2 form-submit w-full">Generate</button>
                </div>
            </form>
        </div>
        <div id="sb-loading-spinner" class="z-50 hidden">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status"></div>
        </div>
        <div id="sb-dimmed-background" class="fixed inset-0 bg-black bg-opacity-70 hidden z-10"></div>
    </div>
    <button id="floating-button" class="fixed bottom-6 right-6 z-10 form-submit text-white text-l text-center w-16 h-16 rounded-full shadow-lg focus:outline-none">
        <i class="fas fa-paintbrush"></i>
    </button>    
    <div id="dimmed-background" class="fixed inset-0 bg-black bg-opacity-50 hidden z-5"></div>
    <div id="loading-spinner" class="fixed inset-0 flex items-center justify-center z-50 hidden">
        <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status"></div>
    </div>  
    <script src="{{ url_for('static', filename='js/tinymce-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/context-variable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>