<div
    style='margin: 20px auto; width: 80%; background-color: #f9f9f9; border: 1px solid #ddd; padding: 20px; border-radius: 10px;'>
    <h2 style='color: #337ab7; margin-top: 0;'>Connect Session Reminder: AI Programming with Python Nanodegree</h2>
    <p style='font-size: 16px;'>Dear {{ firstName }} {{ lastName }},</p>
    <p style='font-size: 16px;'>This is a friendly reminder that your Connect Session for AI Programming with Python
        Nanodegree is about to start. The session is scheduled for <strong>Saturday, July 6th, 2024 at 06:00 AM
            GMT</strong>. We strongly encourage you to join us to help you graduate and gain valuable insights from your
        peers and instructors.</p>
    <p style='font-size: 16px;'>During the session, you'll have the opportunity to ask questions, share your progress,
        and learn from others in your cohort. Your active participation will help you get the most out of your
        Nanodegree program.</p>
    <p style='font-size: 16px;'>If you have any questions or concerns, please don't hesitate to reach out to me
        directly. I'm committed to helping you succeed in your AI Programming with Python Nanodegree journey.</p>
    <p style='font-size: 16px;'>Best regards,</p>
    <p style='font-size: 16px;'><strong>{{ session_lead_name }}</strong><br>{{ session_lead_mail }}</p>
</div>