<p style='font-family: Arial, sans-serif; font-size: 14px; color: #333333;'>Dear {{ firstName }} {{ lastName }},</p>
<p style='font-family: Arial, sans-serif; font-size: 14px; color: #333333;'>I hope this email finds you well. This is a
    friendly reminder that your Connect Session for the AI Programming with Python Nanodegree at Udacity is just about
    to start!</p>
<p style='font-family: Arial, sans-serif; font-size: 14px; color: #333333;'>Don't miss this opportunity to take a
    crucial step towards graduating. Join me today, Saturday, July 6th, 2024, at 06:00 AM GMT, and let's work together
    to overcome any challenges you're facing in your course.</p>
<p style='font-family: Arial, sans-serif; font-size: 14px; color: #333333;'>I'm excited to connect with you and provide
    personalized guidance to help you achieve your goals.</p>
<p style='font-family: Arial, sans-serif; font-size: 14px; color: #333333;'>Best regards,<br>{{ session_lead_name
    }}<br><a href='mailto:{{ session_lead_mail }}' style='text-decoration: none; color: #337AB7;'>{{ session_lead_mail
        }}</a></p>