<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>1-Hour Reminder: Join Your Connect Session for AI Programming with Python Nanodegree</title>
</head>

<body>
    <div style="font-family: Arial, sans-serif; width: 100%; max-width: 600px; margin: 0 auto;">
        <div style="background-color: #f9f9f9; padding: 20px; text-align: center;">
            <h2 style="color: #3498db; margin-bottom: 10px;">Reminder: Connect Session for AI Programming with Python
                Nanodegree</h2>
            <p style="margin-bottom: 20px;">Hello {{ firstName }} {{ lastName }},</p>
            <p style="margin-bottom: 20px;">This is a friendly reminder that your Connect Session with me, {{
                session_lead_name }}, is just an hour away! Join us this Saturday, July 6th, 2024, at 06:00 AM GMT to
                discuss your progress in the AI Programming with Python Nanodegree program at Udacity.</p>
            <p style="margin-bottom: 20px;">This session is designed to help you overcome any challenges you're facing
                and provide guidance to ensure you're on track to graduate. It's a great opportunity to get personalized
                feedback and connect with your peers.</p>
            <p style="margin-bottom: 20px;">To join the session, simply click on the link provided in your calendar
                invite. If you haven't received the invite, please let me know, and I'll resend it.</p>
            <p style="margin-bottom: 30px;">As a reminder, I've attached an ICS invitation for your convenience.</p>
            <p style="margin-bottom: 20px;">Looking forward to seeing you there!</p>
            <p style="margin-bottom: 20px;">Best regards,</p>
            <p>{{ session_lead_name }}<br>{{ session_lead_mail }}</p>
        </div>
    </div>
</body>

</html>