<div style='width: 600px; margin: 40px auto; font-family: Arial, sans-serif;'>
    <div style='background-color: #f2f2f2; padding: 20px; border-radius: 10px;'>
        <h2 style='text-align: center; color: #333;'>Reminder: Connect Session - AI Programming with Python Nanodegree
        </h2>
        <p style='text-align: center; font-size: 18px;'>Dear {{ firstName }} {{ lastName }},</p>
        <p style='text-align: center;'>This is a friendly reminder that our Connect Session is just an hour away! Join
            us on Saturday, July 6th, 2024 at 06:00 AM GMT, and let's work together to help you graduate from the AI
            Programming with Python Nanodegree program at Udacity.</p>
        <p style='text-align: center;'>We're excited to meet you there and provide guidance on your journey. If you have
            any questions or concerns, feel free to reach out to me directly.</p>
    </div>
    <div
        style='background-color: #337ab7; color: #fff; padding: 10px; text-align: center; border-radius: 10px; margin-top: 20px;'>
        <p style='margin-bottom: 10px;'>Best regards,</p>
        <p style='font-size: 18px; margin-bottom: 10px;'>{{ session_lead_name }}</p>
        <p style='font-size: 16px;'>{{ session_lead_mail }}</p>
    </div>
</div>